---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-misc-no-recursion,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-hicpp-explicit-conversions,-bugprone-unhandled-self-assignment,-cert-oop54-cpp,-cppcoreguidelines-pro-bounds-pointer-arithmetic'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle:     none
